/* From Uiverse.io by biswacpcode */ 

  
  li::before {
    margin-left: auto;
  }
  
  li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    transition: 0.5s;
  }
  
  li:hover::after, button:hover::before {
    width: 100%;
  }


  /* From Uiverse.io by nikk7007 */ 
button {
    --color: #00A97F;
    --color2: rgb(10, 25, 30);
    padding: 0.8em 1.75em;
    background-color: transparent;
    border-radius: 6px;
    border: .3px solid var(--color);
    transition: .5s;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    z-index: 1;
    font-weight: 300;
    font-size: 17px;
    font-family: 'Roboto', 'Segoe UI', sans-serif;
    text-transform: uppercase;
    color: var(--color);
   }
   
   button::after, button::before {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    transform: skew(90deg) translate(-50%, -50%);
    position: absolute;
    inset: 50%;
    left: 25%;
    z-index: -1;
    transition: .5s ease-out;
    background-color: var(--color);
   }
   
   button::before {
    top: -50%;
    left: -25%;
    transform: skew(90deg) rotate(180deg) translate(-50%, -50%);
   }
   
   button:hover::before {
    transform: skew(45deg) rotate(180deg) translate(-50%, -50%);
   }
   
   button:hover::after {
    transform: skew(45deg) translate(-50%, -50%);
   }
   
   button:hover {
    color: var(--color2);
   }
   
   button:active {
    filter: brightness(.7);
    transform: scale(.98);
   }


 /* From Uiverse.io by alexreyes091 */ 
.stack {
    padding: 1rem 1rem;
    font-weight: 700;
    background: rgb(255, 255, 255);
    color: blueviolet;
    cursor: pointer;
    border-radius: 0.5rem;
    border-bottom: 2px solid rgb(87, 94, 80);
    border-right: 2px solid rgb(86, 99, 104);
    border-top: 2px solid white;
    border-left: 2px solid white;
    transition-duration: 1s;
    transition-property: border-top, border-left, border-bottom, border-right,
      box-shadow;
  }
  
  .stack:hover {
    border-top: 2px solid blueviolet;
    border-left: 2px solid blueviolet;
    border-bottom: 2px solid rgb(238, 103, 238);
    border-right: 2px solid rgb(238, 103, 238);
    box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px,
      rgba(240, 46, 170, 0.2) 15px 15px;
  }
  

  